
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="panel panel-info">
    <div class="panel-heading">Dispatch management</div>
    <div class="panel-body">
        <label class="label-warning" id="lNoItems">No records found</label>
        <table id="tItems" class="table table-bordered table-striped" style="width:500px">
            <thead>
                <tr>
                    <th>Receiver</th>
                    <th>Address</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="dDispatch" style="z-index:1400">
    <div class="modal-dialog" style="min-height: 300px; min-width: 1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="name">Dispatch data</div>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-lg-4">
                        <label class="control-label">Deliverer</label>
                    </div>
                    <div class="col-lg-8">
                        <select id="ddlUser" class="form-control">

                        </select>
                        <div class="label-danger" id="lErrddlUser">Please, select deliverer</div>
                    </div>
                </div>
                
            <div class="modal-footer">
                <div class="col-md-1 pull-right">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true" onclick="dispatch.Dispatch()"></span>
                </div>
                <div class="col-md-1 pull-right">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true" onclick="dispatch.CancelDispatch()"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        dispatch = new Dispatch();
        BasePage.HideErrors();
        BasePage.ApplyNumbersOnly();
        dispatch.LoadReqs();
        dispatch.LoadUsers();


    })
</script>

