@model Umamido.Common.RestaurantRowModel[]



<div class="row belise-menu-content">
    @foreach (var r in Model)
    {

        <div class="col-sm-12 col-md-6 col-lg-6 food-menu">
            <div class="food-menu-container">
                <div class="food-menu-content">
                    <div>
                        <h3 class="food-menu-title">@r.FirstTitleNoHtml</h3>
                    </div>
                    @Html.ActionLink(@Umamido.Resources.Resources.LookMenu, "Restaurant", "Home", new { restaurantId = r.RestaurantId }, null)
                    
                </div>
                <div class="food-menu-image" style="background: url(home/getimage?imageid=@r.ImageId); background-size:cover"></div>
            </div>
        </div>
    }

</div>