<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" async src="js/js.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">

    <title>Контакти | 25 min.</title>


    <link rel="stylesheet" id="siteorigin-panels-front-css" href="css/front.css" type="text/css" media="all">
    <link rel="stylesheet" id="sb_instagram_styles-css" href="css/sb-instagram.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="pirate_forms_front_styles-css" href="css/front(1).css" type="text/css" media="all">
    <link rel='stylesheet' id='boc-icon-css' href='css/icons.css?ver=4.7.4' type='text/css' media='all' />

    <link rel="stylesheet" id="woocommerce-smallscreen-css" href="css/woocommerce-smallscreen.css" type="text/css" media="only screen and (max-width: 768px)">

    <link rel="stylesheet" id="boostrap-css" href="css/bootstrap.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="style-css" href="css/style.css" type="text/css" media="all">

    <link rel="stylesheet" id="woocommerce-style-css" href="css/woocommerce(1).css" type="text/css" media="all">
    <link rel="stylesheet" id="fonts-css" href="css/css.css" type="text/css" media="all">
    <link rel="stylesheet" id="font-awesome-css" href="css/font-awesome.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="sharing-icons-css" href="css/sharing-icons.css" type="text/css" media="all">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="js/scripts-general.js"></script>

    <style>
        header {
            -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }

            header.sticky {
                position: fixed;
                z-index: 2;
                width: 100%;
            }
    </style>

    <style type="text/css">
        img#wpstats {
            display: none
        }
    </style>
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <style type="text/css">
        .site-title a, .site-description {
            color: #363639;
        }
    </style>
    <style type="text/css" id="custom-background-css">
        body.custom-background {
            background-color: #f2ebe0;
        }
    </style>
    <style type="text/css" media="all" id="siteorigin-panels-grids-wp_head">
        /* Layout 40 */
        #pgc-40-0-0 {
            width: 51.586%
        }

        #pgc-40-0-1 {
            width: 6.872%
        }

        #pgc-40-0-2 {
            width: 41.542%
        }

        #pg-40-0 .panel-grid-cell {
            float: left
        }

        #pl-40 .panel-grid-cell .so-panel {
            margin-bottom: 30px
        }

            #pl-40 .panel-grid-cell .so-panel:last-child {
                margin-bottom: 0px
            }

        #pg-40-0 {
            margin-left: -15px;
            margin-right: -15px
        }

            #pg-40-0 .panel-grid-cell {
                padding-left: 15px;
                padding-right: 15px
            }

        @@media (max-width:780px) {
            #pg-40-0 .panel-grid-cell {
                float: none;
                width: auto
            }

            #pgc-40-0-0, #pgc-40-0-1 {
                margin-bottom: 30px
            }

            #pl-40 .panel-grid {
                margin-left: 0;
                margin-right: 0
            }

            #pl-40 .panel-grid-cell {
                padding: 0
            }
        }
    </style>
    <style type="text/css" id="wp-custom-css">
        #core-values .textwidget h5 {
            font-family: "Work Sans";
            font-size: 17px;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1.2px;
            margin-top: 0;
        }

        #core-values .sow-features-feature {
            border: 1px solid #e1e1e1;
            padding: 50px
        }

            #core-values .sow-features-feature:nth-child(even) {
                border-right: 0;
            }

        .page-template-template-full-width .entry-content {
            margin-bottom: 0;
        }
    </style>

    <style id="custom-css-css">
        .menu-group-title {
            display: none
        }
    </style>
    <link rel="stylesheet" type="text/css" id="gravatar-card-css" href="css/hovercard.css">
    <link rel="stylesheet" type="text/css" id="gravatar-card-services-css" href="css/services.css">

</head>

<body class="archive post-type-archive post-type-archive-product custom-background woocommerce woocommerce-page group-blog hfeed">
    <div id="page" class="site">
        <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

        <header id="masthead" class="site-header">
            <div class="top-bar">
                <div class="container">
                    <img src="images/card_payments_bw.jpg" style="padding:15px 15px 0 0;">
                    <div class="top-bar-content">
                        <div class="social-icons-wrapper">
                            <ul id="menu-social-menu" class="social-icons">
                                <li id="menu-item-49" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-49">
                                    <a href="https://facebook.com"><span class="screen-reader-text">Facebook</span></a>
                                </li>
                                <li id="menu-item-52" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-52">
                                    <a href="https://www.instagram.com/umamido_sofia/"><span class="screen-reader-text">Instagram</span></a>
                                </li>
                            </ul>
                        </div>

                        <div class="top-bar-icons-wrapper">
                            <span class="social-icons-toggle"><i class="fa fa-share-alt"></i></span>
                            <div class="custom-search-in-header">
                                <form method="get" class="search-form" action="/">
                                    <label>
                                        <span class="screen-reader-text">Search for:</span>
                                        <input type="search" class="search-field" placeholder="Search" value="" name="s">
                                    </label>
                                    <button type="submit" class="search-submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </div>
                            <a href="#" title="Cart" class="menu-shopping-cart"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                        <div class="top-bar-contact-wrapper">
                            <ul id="" class="languages-items">
                                <li class="lang-item bg-item">
                                    @Html.ActionLink("БГ", "SetLanguage", "Shared", new { language = "bg-BG" }, null)                                    
                                </li>
                                <li class="lang-item en-item">
                                    @Html.ActionLink("EN", "SetLanguage", "Shared", new { language = "en-US" }, null)
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container header-container">
                <div class="navbar-header">
                    <div class="site-branding">
                        <p class="site-title">
                            <a href="index.html" rel="home">
                                <img src="images/logo_3_1.png">
                            </a>
                        </p>
                    </div><!-- .site-branding -->

                    <span class="menu-toggle-content">
                        <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false"><i class="fa fa-bars" aria-hidden="true"></i></button>
                    </span>
                </div>

                <nav id="site-navigation" class="main-navigation site-navigation">
                    <div class="menu-primary-menu-container">
                        <ul id="primary-menu" class="menu nav-menu" aria-expanded="false">
                            <li id="menu-item-101" class="menu-item">
                                <a href="shop.html">@Umamido.Resources.Resources.Order</a>
                            </li>
                            <li id="menu-item-462" class="menu-item">
                                <a href="about.html">За нас</a>
                            </li>
                            <li id="menu-item-101" class="menu-item">
                                <a href="restaurants.html">Ресторанти</a>
                            </li>
                            <li id="menu-item-382" class="menu-item">
                                <a href="blog.html">Блог</a>
                            </li>
                            <li id="menu-item-21" class="menu-item current-main">
                                <a href="contacts.html">Контакти</a>
                            </li>
                        </ul>
                    </div>
                </nav><!-- #site-navigation -->
            </div>

        </header><!-- #masthead -->

        @RenderBody()



        <footer id="colophon" class="site-footer">
            <div class="container">
                <div class="row footer-widgets" style="padding-top:0px;">
                    <div class="col-sm-12 col-md-4">
                        <div id="text-6">
                            <div class="textwidget"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div id="text-8">
                            <div class="textwidget">
                                <div style="text-align:center; font-family:&#39;Work Sans&#39;, sans-serif" class="footer-menu">
                                    <span style="letter-spacing: 0.1em; line-height: 30px;">
                                        <a href="#">МОЯТ ПРОФИЛ</a><br>
                                        <a href="payment_delivery.html">ПОРЪЧКА И ДОСТАВКА</a><br>
                                        <a href="terms.html">ОБЩИ УСЛОВИЯ</a><br>
                                        <a href="contacts.html">КОНТАКТИ</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- .footer-widgets -->
            </div>

            <div class="footer-bar">
                <div class="container">
                    <div class="site-info pull-left">
                        <a href="index.html" rel="nofollow">25min.bg</a> <span class="sep"> | </span> Web by <a href="#" rel="nofollow">kick.bg</a>
                    </div><!-- .site-info -->

                    <div class="footer-bar-content pull-right">
                        <div class="footer-bar-inner">
                            <ul id="menu-social-menu-1" class="social-icons">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-49">
                                    <a href="https://facebook.com"><span class="screen-reader-text">Facebook</span></a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-52">
                                    <a href="https://www.instagram.com/umamido_sofia/"><span class="screen-reader-text">Instagram</span></a>
                                </li>
                            </ul>
                            <span class="bar-contact"><a href="mailto:delivery@25min.bg">delivery@25min.bg</a></span>
                        </div>
                    </div>
                </div>
            </div> <!-- .footer-bar -->
        </footer><!-- #colophon -->
    </div><!-- #page -->


    <script type="text/javascript" src="js/core.min.js"></script>

    <script type="text/javascript" src="js/jquery.blockUI.min.js"></script>
    <script type="text/javascript" src="js/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="js/gprofiles.js"></script>
    <script type="text/javascript" src="js/skip-link-focus-fix.js"></script>
    <script type="text/javascript" src="js/functions.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>

    <script>
        $(window).scroll(function () {
            if ($(this).scrollTop() > 1) {
                $('header').addClass("sticky");
            }
            else {
                $('header').removeClass("sticky");
            }
        });
    </script>


</body>
</html>